
<div class="container">
    <div class="row justify-content-center">
        <div class="child-container">
            <div include-html="../layouts/header.html" id="header_file"></div>
              
                <div class="child-main">
                    <div class="image-banner">
                        <img src="https://github.com/frosty1222/dental_app_html/components/public/img/images/banner1.jpg" />
                         <div class="heading-word"><p>về chúng tôi</p></div>
                        </div>
                       <div class="clearfix"></div>
                       <div class="about-container">
                        <div class="main-about">
                            <legend>Home > Giới thiệu</legend>
                            <div class="about-content">
                                 <legend>Về chúng tôi</legend>
                                 <div class="wrap-inner-content">
                                      <div class="left-text-about">
                                             <p>
                                                 Nha khoa Rose thành lập vào tháng 9/2004, với mong muốn mang lại cho khách hàng những dịch vụ nha khoa đúng chuẩn quốc tế.
                                                 Phương châm phục vụ của Nha khoa Rose với mong muốn mang lại cho khách hàng những dịch vụ nha khoa đúng chuẩn quốc tế Chất
                                                 lượng dịch vụ và sự tận tâm của bác sĩ mới là chìa khóa cho mọi thành công.Chính sự hài lòng của khách hàng sẽ đưa thương
                                                 hiệu Á Âu đến với mỗi gia đình.
                                                 <br/>
                                                 <br/>
                                                “Hãy chăm sóc khách hàng thật tốt, họ sẽ tự hào giới thiệu chúng ta đến với bạn bè và người thân”:Chất lượng dịch vụ và sự
                                                 tận tâm của bác sĩ mới là chìa khóa cho mọi thành công. Chính sự hài lòng của khách hàng sẽ đưa thương hiệu Nha khoa Rose
                                                 đến với mỗi gia đình.“Hãy chăm sóc khách hàng thật tốt, họ sẽ tự hào giới thiệu chúng ta đến với bạn bè và người thân”
                                             </p>
                                      </div>
                                      <div class="right-picture-about">
                                           <img src="https://github.com/frosty1222/dental_app_html/components/public/img/images/about.jpg" />
                                      </div>
                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="about-reason">
                                      <legend>Lý do chọn nha khoa Rose</legend>
                                      <ul class="about-cards">
                                          <li>
                                            <div class="above-about-icon">
                                                <img src="https://github.com/frosty1222/dental_app_html/components/public/img/images/doctori.jpg" />
                                            </div>
                                            <div class="below-about-head">
                                                <legend>bác sĩ chuyên khoa đầu ngành</legend>
                                            </div>
                                            <div class="bottom-about-text">
                                                <p>
                                                Chất lượng và giá thành của một dịch vụ nha khoa phụ thuộc rất
                                                nhiều vào chất liệu của các vật liệu được sử dụng. Vật liệu nha
                                                khoa cao cấp chính hãng là một trong những ưu thế vượt trội...
                                                </p>
                                            </div>
                                          </li>
                                          <li>
                                           <div class="above-about-icon">
                                            <img src="https://github.com/frosty1222/dental_app_html/components/public/img/images/microscope.jpg" />
                                           </div>
                                            <div class="below-about-head">
                                                <legend>trang thiết bị hiện đại</legend>
                                            </div>
                                            <div class="bottom-about-text">
                                                <p>
                                                Chất lượng và giá thành của một dịch vụ nha khoa phụ thuộc rất
                                                nhiều vào chất liệu của các vật liệu được sử dụng. Vật liệu nha
                                                khoa cao cấp chính hãng là một trong những ưu thế vượt trội...
                                                </p>
                                            </div>
                                          </li>
                                          <li>
                                          <div class="above-about-icon">
                                            <img src="https://github.com/frosty1222/dental_app_html/components/public/img/images/teeth.jpg" />
                                          </div>
                                            <div class="below-about-head">
                                                <legend>vật liệu nha khoa cao cấp</legend>
                                            </div>
                                            <div class="bottom-about-text">
                                                <p>
                                                Chất lượng và giá thành của một dịch vụ nha khoa phụ thuộc rất
                                                nhiều vào chất liệu của các vật liệu được sử dụng. Vật liệu nha
                                                khoa cao cấp chính hãng là một trong những ưu thế vượt trội...
                                                </p>
                                            </div>
                                          </li>
                                          <li>
                                           <div class="above-about-icon">
                                              <img src="https://github.com/frosty1222/dental_app_html/components/public/img/images/liked.jpg" />
                                           </div>
                                            <div class="below-about-head">
                                                <legend>chế độ hậu mãi tận tâm</legend>
                                            </div>
                                            <div class="bottom-about-text">
                                                <p>
                                                Chất lượng và giá thành của một dịch vụ nha khoa phụ thuộc rất
                                                nhiều vào chất liệu của các vật liệu được sử dụng. Vật liệu nha
                                                khoa cao cấp chính hãng là một trong những ưu thế vượt trội...
                                                </p>
                                            </div>
                                          </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                       </div>
                  </div>
                <!-- {/*end code */} -->
                <div include-html="../layouts/footer.html" id="footer_file"></div>
        </div>
    </div>
</div>

<script src="../public/js/jquery-3.6.0.min.js"></script>
<script src="../public/js/include-html.min.js"></script>
