<div class="container">
    <div class="row justify-content-center">
        <div class="child-container">
            <div include-html="../layouts/header.html" id="header_file"></div>
               <div class="child-main">
                <div class="image-banner">
                    <img src="../public/img/images/banner1.jpg" />
                     <div class="heading-word"><p>khuyến mãi</p></div>
                    </div>
               <div class="inner-main">
                   <legend class="hint-word">Home > Bảng giá khuyến mãi</legend>
                       <div class="child-inner-main">
                          <div class="clearfix"></div>
                           <div class="left-list-container">
                            <ul class="list-1">
                              <legend class="special-heading">dich vụ nha khoa</legend>
                              <li>chỉnh hình
                                <hr></hr>
                              </li>
                              <li>chỉnh nha
                              <hr></hr>
                              </li>
                              <li>niềng rằng trong suốt
                              <hr></hr>
                              </li>
                              <li>răng sứ thẩm mỹ
                              <hr></hr>
                              </li>
                              <li>implant
                              <hr></hr>
                              </li>
                              <li>trắng răng
                              </li>
                            </ul>
                            <legend class="list2 legend">bài viết xem nhiều</legend>
                            <ul class="list-2">
                               <li>
                                  <div class="left-img"><img src="../public/img/images/Nha-khoa_26.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div>
                               </li>
                               <li>
                               <div class="left-img"><img src="../public/img/images/Nha-khoa_22b.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div>
                               </li>
                               <li>
                               <div class="left-img"><img src="../public/img/images/Nha-khoa_06a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                               </div>
                               </li>
                               <li><div class="left-img"><img src="../public/img/images/Nha-khoa_10a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                            </ul>
                            <legend class="list3 legend">tin mới nhất</legend>
                            <ul class="list-3">
                               <li><div class="left-img"><img src="../public/img/images/Nha-khoa_26.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="../public/img/images/Nha-khoa_22b.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="../public/img/images/Nha-khoa_06a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="../public/img/images/Nha-khoa_10a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                            </ul>
                         </div>
                          <div class="right-list-container">
                                 <div class="header-name"><legend>Bảng giá -khuyến mãi</legend></div>
                                 <div class="main-content-discount">
                                     <legend>Cập nhật các Ưu đãi và Bảng giá khuyến mãi mới nhất từ nha khoa Rose</legend>
                                 </div>
                               <div class="list-content-discount">
                                    <ul class="list-main-dis">
                                        <li>
                                           <div class="dis-image-left">
                                               <img src="../public/img/images/discount1.jpg"/>
                                           </div>
                                           <div class="dis-text-right">
                                                <legend><a class="linksub" href="./components/views/detail/discountdetail.html">khuyến mãi tẩy trắng răng</a></legend>
                                                <p>
                                                    Với phương châm hoạt động phát triển kinh tế tư nhân và định hướng mạnh mẽ và chuyên nghiệp...
                                                </p>
                                           </div>
                                        </li>
                                        <hr />
                                        <li>
                                            <div class="dis-image-left">
                                               <img src="../public/img/images/discount2.jpg"/>
                                            </div>
                                            <div class="dis-text-right">
                                                <legend><a class="linksub" href="./components/views/detail/discountdetail.html">khuyến mãi chỉnh nha và niềng răng</a></legend>
                                                <p>
                                                    Với phương châm hoạt động phát triển kinh tế tư nhân và định hướng mạnh mẽ và chuyên nghiệp...
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                               </div>
                          </div>
                      </div>
                   </div>
               </div>
               <div include-html="../layouts/footer.html" id="footer_file"></div>
        </div>
    </div>
</div>
<script src="../public/js/jquery-3.6.0.min.js"></script>
<script src="../public/js/include-html.min.js"></script>
