<div class="container">
    <div class="row justify-content-center">
        <div class="child-container">
            <div include-html="../layouts/header.html" id="header_file"></div>
               <div class="child-main">
                <div class="image-banner">
                    <img src="/components/public/img/images/banner1.jpg" />
                     <div class="heading-word"><p>chỉnh nha chuyên gia</p></div>
                    </div>
                <div class="clearfix"></div>
                   <div class="inner-main">
                   <legend class="hint-word">Home > Chỉnh nha chuyên khoa</legend>
                       <div class="child-inner-main">
                          <div class="clearfix"></div>
                             <Leftbar />
                           <div class="right-list-container">
                                 <legend>Chỉnh nha chuyên gia</legend>
                                 <div class="below-list-container">
                                    <ul class="below-content">
                                        <li class="bellow-child">
                                              <div class="left-below-image">
                                                <img src="/components/public/img/images/nieng_rang.jpg"/>
                                              </div>
                                              <div class="right-below-text">
                                                 <legend>những điều cần biết khi làm răng giả</legend>
                                                <p>
                                                    răng giả được xem là biện pháp hữu hiệu mà nhiều người sử dụng hiện
                                                    nay khi bị mất răng.Như các bác sĩ rất khuyến cáo
                                                </p>
                                              </div>
                                        </li>
                                        <li class="bellow-child">

                                              <div class="left-below-image">
                                                  <img src="/components/public/img/images/middle_1c.jpg"/>
                                              </div>
                                              <div class="right-below-text">
                                              <legend>những điều cần biết khi làm răng giả</legend>
                                              <p>
                                                    răng giả được xem là biện pháp hữu hiệu mà nhiều người sử dụng hiện
                                                    nay khi bị mất răng.Như các bác sĩ rất khuyến cáo
                                                </p>
                                              </div>
                                        </li>
                                        <li class="bellow-child">

                                              <div class="left-below-image">
                                                   <img src="/components/public/img/images/middle_1a.jpg"/>
                                              </div>
                                              <div class="right-below-text">
                                              <legend>những điều cần biết khi làm răng giả</legend>
                                              <p>
                                                    răng giả được xem là biện pháp hữu hiệu mà nhiều người sử dụng hiện
                                                    nay khi bị mất răng.Như các bác sĩ rất khuyến cáo
                                                </p>
                                              </div>
                                        </li>
                                        <li class="bellow-child">

                                               <div class="left-below-image">
                                                   <img src="/components/public/img/images/nieng_rang.jpg"/>
                                               </div>
                                              <div class="right-below-text">
                                              <legend>những điều cần biết khi làm răng giả</legend>
                                              <p>
                                                   răng giả được xem là biện pháp hữu hiệu mà nhiều người sử dụng hiện
                                                    nay khi bị mất răng.Như các bác sĩ rất khuyến cáo
                                                </p>
                                              </div>
                                        </li>
                                        <li class="bellow-child">

                                              <div class="left-below-image">
                                                  <img src="/components/public/img/images/middle_2.jpg"/>
                                              </div>
                                              <div class="right-below-text">
                                              <legend>những điều cần biết khi làm răng giả</legend>
                                              <p>
                                                    răng giả được xem là biện pháp hữu hiệu mà nhiều người sử dụng hiện
                                                    nay khi bị mất răng.Như các bác sĩ rất khuyến cáo
                                                </p>
                                              </div>
                                        </li>
                                        <li class="bellow-child">

                                              <div class="left-below-image">
                                                   <img src="/components/public/img/images/Nha-khoa_26.jpg"/>
                                              </div>
                                              <div class="right-below-text">
                                              <legend>những điều cần biết khi làm răng giả</legend>
                                              <p>
                                                    răng giả được xem là biện pháp hữu hiệu mà nhiều người sử dụng hiện
                                                    nay khi bị mất răng.Như các bác sĩ rất khuyến cáo
                                                </p>
                                              </div>
                                        </li>
                                    </ul>
                                 </div>
                           </div>
                       </div>
                   </div>
               </div>
             
               <div include-html="../layouts/footer.html" id="footer_file"></div>
        </div>
    </div>
</div>
<script src="../public/js/jquery-3.6.0.min.js"></script>
<script src="../public/js/include-html.min.js"></script>