<div class="container">
    <div class="row justify-content-center">
        <div class="child-container">
            <div include-html="../layouts/header.html" id="header_file"></div>
               <div class="child-main"></div>
               <div class="child-main">
                <div class="image-banner">
                    <img src="/components/public/img/images/banner1.jpg" />
                     <div class="heading-word"><p>khách hàng hỏi đáp</p></div>
                    </div>
                   <div class="clearfix"></div>
                <div class="customer-controller">
                     <div class="customer-main">
                            <div class="customer-title">
                                  Home > khách hàng
                            </div>
                       <div class="customer-content">
                               <legend>Hỏi đáp</legend>
                              <ul class="customer-list">
                                   <li>
                                      <div class="left-image-cus">
                                          <img src="/components/public/img/images/Nha-khoa_11a.jpg" />
                                      </div>
                                      <div class="right-text-cus">
                                         <p>
                                            Máy lấy cao răng thương hiệu nhật bản đưuọc nhiều người tin dùng
                                            <br/>
                                            để có được một hàm răng thật trắng sáng,chắc khỏe với nụ cười tỏa sáng
                                         </p>
                                      </div>
                                   </li>
                                   <li>
                                    <div class="left-image-cus">
                                          <img src="/components/public/img/images/Nha-khoa_11a.jpg" />
                                      </div>
                                      <div class="right-text-cus">
                                         <p>
                                            Máy lấy cao răng thương hiệu nhật bản đưuọc nhiều người tin dùng
                                            <br/>
                                            để có được một hàm răng thật trắng sáng,chắc khỏe với nụ cười tỏa sáng
                                         </p>
                                      </div>
                                   </li>
                                   <li>
                                    <div class="left-image-cus">
                                          <img src="/components/public/img/images/Nha-khoa_11a.jpg" />
                                      </div>
                                      <div class="right-text-cus">
                                         <p>
                                            Máy lấy cao răng thương hiệu nhật bản đưuọc nhiều người tin dùng
                                            <br/>
                                            để có được một hàm răng thật trắng sáng,chắc khỏe với nụ cười tỏa sáng
                                         </p>
                                      </div>
                                   </li>
                                   <li>
                                    <div class="left-image-cus">
                                          <img src="/components/public/img/images/Nha-khoa_11a.jpg" />
                                      </div>
                                      <div class="right-text-cus">
                                         <p>
                                            Máy lấy cao răng thương hiệu nhật bản đưuọc nhiều người tin dùng
                                            <br/>
                                            để có được một hàm răng thật trắng sáng,chắc khỏe với nụ cười tỏa sáng
                                         </p>
                                      </div>
                                   </li>
                                   <li>
                                    <div class="left-image-cus">
                                          <img src="/components/public/img/images/Nha-khoa_11a.jpg" />
                                      </div>
                                      <div class="right-text-cus">
                                         <p>
                                            Máy lấy cao răng thương hiệu nhật bản đưuọc nhiều người tin dùng
                                            <br/>
                                            để có được một hàm răng thật trắng sáng,chắc khỏe với nụ cười tỏa sáng
                                         </p>
                                      </div>
                                   </li>
                                   <li>
                                    <div class="left-image-cus">
                                          <img src="/components/public/img/images/Nha-khoa_11a.jpg" />
                                      </div>
                                      <div class="right-text-cus">
                                         <p>
                                            Máy lấy cao răng thương hiệu nhật bản đưuọc nhiều người tin dùng
                                            <br/>
                                            để có được một hàm răng thật trắng sáng,chắc khỏe với nụ cười tỏa sáng
                                         </p>
                                      </div>
                                   </li>
                              </ul>
                       </div>
                     </div>
                </div>
               </div>
               <div include-html="../layouts/footer.html" id="footer_file"></div>
        </div>
    </div>
</div>
<script src="../public/js/jquery-3.6.0.min.js"></script>
<script src="../public/js/include-html.min.js"></script>