<div class="container">
    <div class="row justify-content-center">
        <div class="child-container">
            <Header />
               {/* code content */}
               <div class="child-main">
                 <Banner bannerWord="tin tức" />
                 <div class="clearfix"></div>
                   <div class="inner-main">
                   <legend class="hint-word">Home { largerSign } Chỉnh nha chuyên khoa</legend>
                       <div class="child-inner-main">
                          <div class="clearfix"></div>
                             <Leftbar />
                              <div class="right-list-container">
                                 <legend class="news-legend">Tin tức</legend>
                                 <div class="news-list-group">
                                      <div class="news-main">
                                             <ul class="news-list">
                                                    <li>
                                                        <div class="left-img-news">
                                                            <img src="/img/images/middle_1a.jpg" />
                                                        </div>
                                                        <div class="right-text-news">
                                                             <legend>máy lấy cao răng aruko:thương hiệu nhật bản được tin dùng</legend>
                                                             <p>
                                                                Để có được một hàm răng thật trắng sáng, chắc khỏe với nụ cười tỏa nắng
                                                                 thì việc thường xuyên lấy cao răng là việc làm vô cùng cần thiết.
                                                             </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-img-news">
                                                            <img src="/img/images/Nha-khoa_11a.jpg" />
                                                        </div>
                                                        <div class="right-text-news">
                                                             <legend>máy lấy cao răng aruko:thương hiệu nhật bản được tin dùng</legend>
                                                             <p>
                                                                Để có được một hàm răng thật trắng sáng, chắc khỏe với nụ cười
                                                                 tỏa nắng thì việc thường xuyên lấy cao răng là việc làm vô cùng cần thiết.
                                                             </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-img-news">
                                                            <img src="/img/images/middle_1a.jpg" />
                                                        </div>
                                                        <div class="right-text-news">
                                                             <legend>máy lấy cao răng aruko:thương hiệu nhật bản được tin dùng</legend>
                                                             <p>
                                                                Để có được một hàm răng thật trắng sáng, chắc khỏe với nụ cười tỏa nắng
                                                                 thì việc thường xuyên lấy cao răng là việc làm vô cùng cần thiết.
                                                             </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-img-news">
                                                            <img src="/img/images/Nha-khoa_11a.jpg" />
                                                        </div>
                                                        <div class="right-text-news">
                                                             <legend>máy lấy cao răng aruko:thương hiệu nhật bản được tin dùng</legend>
                                                             <p>
                                                                Để có được một hàm răng thật trắng sáng, chắc khỏe với nụ cười tỏa nắng
                                                                 thì việc thường xuyên lấy cao răng là việc làm vô cùng cần thiết.
                                                             </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-img-news">
                                                            <img src="/img/images/middle_1a.jpg" />
                                                        </div>
                                                        <div class="right-text-news">
                                                             <legend>máy lấy cao răng aruko:thương hiệu nhật bản được tin dùng</legend>
                                                             <p>
                                                                Để có được một hàm răng thật trắng sáng, chắc khỏe với nụ
                                                                 cười tỏa nắng thì việc thường xuyên lấy cao răng là việc làm vô cùng cần thiết.
                                                             </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-img-news">
                                                            <img src="/img/images/Nha-khoa_11a.jpg" />
                                                        </div>
                                                        <div class="right-text-news">
                                                             <legend>máy lấy cao răng aruko:thương hiệu nhật bản được tin dùng</legend>
                                                             <p>
                                                                Để có được một hàm răng thật trắng sáng, chắc khỏe với nụ cười tỏa nắng thì
                                                                 việc thường xuyên lấy cao răng là việc làm vô cùng cần thiết.
                                                             </p>
                                                        </div>
                                                    </li>
                                             </ul>
                                      </div>
                                 </div>
                              </div>
                            </div>
                        </div>
               </div>
             {/*end code */}
            <Footer/>
        </div>
    </div>
</div>
<script src="../public/js/jquery-3.6.0.min.js"></script>
<script src="../public/js/include-html.min.js"></script>