<div class="container">
    <div class="row justify-content-center">
        <div class="child-container">
            <div include-html="../layouts/header.html" id="header_file"></div>
               <div class="clearfix"></div>
               <div class="child-main">
                <div class="image-banner">
                    <img src="../public/img/images/banner1.jpg" />
                     <div class="heading-word"><p>dịch vụ</p></div>
                    </div>
                   <div class="service-container">
                         <div class="main-service">
                              <div class="hint-service-word"><legend>Home > dịch vụ nha khoa</legend></div>
                               <div class="list-image-group-service">
                                     <ul class="inner-service-img-list">
                                           <li>
                                              <img src="../public/img/images/nieng_rang.jpg" />
                                              <span><a class="link-service"  href="https://frosty1222.github.io/dental_app_html/components/views/detail/servicedetail.html">Chỉnh hình</a></span>
                                           </li>
                                           <li>
                                              <img  src="../public/img/images/Nha-khoa_06a.jpg" />
                                              <span><a class="link-service"  href="https://frosty1222.github.io/dental_app_html/components/views/detail/servicedetail.html">Chỉnh nha</a></span>
                                           </li>
                                           <li>
                                              <img  src="../public/img/images/Nha-khoa_22b.jpg"/>
                                              <span><a class="link-service"  href="https://frosty1222.github.io/dental_app_html/components/views/detail/servicedetail.html">Niểng răng trong suốt</a></span>
                                           </li>
                                           <li>
                                              <img  src="../public/img/images/implant.jpg" />
                                              <span><a class="link-service"  href="https://frosty1222.github.io/dental_app_html/components/views/detail/servicedetail.html">Răng sứ thẩm mỹ</a></span>
                                           </li>
                                           <li>
                                              <img  src="../public/img/images/Nha-khoa_03b.jpg" />
                                              <span><a class="link-service"  href="https://frosty1222.github.io/dental_app_html/components/views/detail/servicedetail.html">Implant</a></span>
                                           </li>
                                           <li>
                                              <img  src="../public/img/images/Nha-khoa_29b.jpg" />
                                              <span><a class="link-service" href="https://frosty1222.github.io/dental_app_html/components/views/detailservicedetail.html">Tráng răng</a></span>
                                           </li>
                                     </ul>
                               </div>
                         </div>
                   </div>
               </div>
             
               <div include-html="../layouts/footer.html" id="footer_file"></div>
        </div>
    </div>
</div>
<script src="../public/js/jquery-3.6.0.min.js"></script>
<script src="../public/js/include-html.min.js"></script>
