<div class="container">
    <div class="row justify-content-center">
        <div class="child-container">
            <div include-html="/components/layouts/header.html" id="header_file"></div>
               <div class="child-main">
                <div class="image-banner">
                    <img src="/components/public/img/images/banner1.jpg" />
                     <div class="heading-word"><p>khuyến mãi</p></div>
                    </div>
               <div class="inner-main">
                   <legend class="hint-word">Home > Chỉnh nha chuyên khoa chi tiết</legend>
                       <div class="child-inner-main">
                        <div class="left-list-container">
                            <ul class="list-1">
                              <legend class="special-heading">dich vụ nha khoa</legend>
                              <li>chỉnh hình
                                <hr></hr>
                              </li>
                              <li>chỉnh nha
                              <hr></hr>
                              </li>
                              <li>niềng rằng trong suốt
                              <hr></hr>
                              </li>
                              <li>răng sứ thẩm mỹ
                              <hr></hr>
                              </li>
                              <li>implant
                              <hr></hr>
                              </li>
                              <li>trắng răng
                              </li>
                            </ul>
                            <legend class="list2 legend">bài viết xem nhiều</legend>
                            <ul class="list-2">
                               <li>
                                  <div class="left-img"><img src="/components/public/img/images/Nha-khoa_26.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div>
                               </li>
                               <li>
                               <div class="left-img"><img src="/components/public/img/images/Nha-khoa_22b.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div>
                               </li>
                               <li>
                               <div class="left-img"><img src="/components/public/img/images/Nha-khoa_06a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                               </div>
                               </li>
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_10a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                            </ul>
                            <legend class="list3 legend">tin mới nhất</legend>
                            <ul class="list-3">
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_26.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_22b.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_06a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_10a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                            </ul>
                         </div>
                          <div class="clearfix"></div>
                          <div class="right-list-container">
                                <legend class="discount-detail-legend">
                                    khuyến mại tẩy trắng răng
                                    <br/>
                                    các bài viết liên quan
                                </legend>
                                <div class="main-discount-detail">
                                     <div class="above-discountdetail-img">
                                          <img src="/components/public/img/images/discount2.jpg" />
                                           <p>khuyến mãi chỉnh nha, niềng răng trong suốt</p>
                                     </div>
                                </div>
                          </div>
                      </div>
                   </div>
               </div>
               <div include-html="/components/layouts/footer.html" id="footer_file"></div>
        </div>
    </div>
</div>
<script src="/components/public/js/jquery-3.6.0.min.js"></script>
<script src="/components/public/js/include-html.min.js"></script>
