<div class="container">
    <div class="row justify-content-center">
        <div class="child-container">
            <div include-html="/components/layouts/header.html" id="header_file"></div>
                  <div class="child-main">
                    <div class="image-banner">
                        <img src="/components/public/img/images/banner1.jpg" />
                         <div class="heading-word"><p>dịch vụ chi tiết</p></div>
                        </div>
                       <div class="clearfix"></div>
                      <div class="inner-main">
                   <legend class="hint-word">Home > Dịch vụ chi tiết</legend>
                       <div class="child-inner-main">
                        <div class="left-list-container">
                            <ul class="list-1">
                              <legend class="special-heading">dich vụ nha khoa</legend>
                              <li>chỉnh hình
                                <hr></hr>
                              </li>
                              <li>chỉnh nha
                              <hr></hr>
                              </li>
                              <li>niềng rằng trong suốt
                              <hr></hr>
                              </li>
                              <li>răng sứ thẩm mỹ
                              <hr></hr>
                              </li>
                              <li>implant
                              <hr></hr>
                              </li>
                              <li>trắng răng
                              </li>
                            </ul>
                            <legend class="list2 legend">bài viết xem nhiều</legend>
                            <ul class="list-2">
                               <li>
                                  <div class="left-img"><img src="/components/public/img/images/Nha-khoa_26.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div>
                               </li>
                               <li>
                               <div class="left-img"><img src="/components/public/img/images/Nha-khoa_22b.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div>
                               </li>
                               <li>
                               <div class="left-img"><img src="/components/public/img/images/Nha-khoa_06a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                               </div>
                               </li>
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_10a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                            </ul>
                            <legend class="list3 legend">tin mới nhất</legend>
                            <ul class="list-3">
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_26.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_22b.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_06a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                               <li><div class="left-img"><img src="/components/public/img/images/Nha-khoa_10a.jpg"/></div>
                                  <div class="right-text">
                                      <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
                                  </div></li>
                            </ul>
                         </div>
                         <div class="clearfix"></div>
                          <div class="right-list-container">
                                 <div class="service-container">
                                      <ul class="service-content">
                                           <li class="service-item1">
                                               <div class="service-heading">
                                                    <legend>implant</legend>
                                               </div>
                                               <div class="service-text">
                                                    <p>
                                                     Cấy ghép Implant là phương pháp trồng răng giả cố định ưu viết nhất hiện nay, một trụ implant titanium được cấy ghép trực tiếp vào xương hàm và tích hợp hoàn toàn vào xương hàm có chức năng như chân răng thật, sau đó cố định mão sứ lên trên trụ implant.
                                                     Kết quả: răng được khôi phục hoàn toàn.
                                                     <br/>
                                                     <br/>
                                                     Ưu điểm vượt trội của răng Implant: tuổi thọ trọn đời, sức nhai khỏe, không mài các răng kế cận, thẩm mỹ cao, ngắn tiêu xương hàm, hóp má và tựu nướu.
                                                    </p>
                                               </div>
                                               <div class="service-img">
                                                     <img src="/components/public/img/images/Nha-khoa_03b.jpg" />
                                               </div>
                                               <div class="item2-heading">
                                                   <legend>ưu điểm</legend>
                                               </div>
                                               <div class="item2-text">
                                                   <p>
                                                    Sử dụng trọn đời
                                                    <br/>
                                                    Thoải mái về lâu dài khi implant hoàn toàn ổn định
                                                    <br/>
                                                    Ngăn ngừa sự tiêu xương do mất răng
                                                    <br/>
                                                    Kỹ thuật bảo tồn nhất, không phải mài răng, lấy tủy
                                                    <br/>
                                                    Tránh những khuyết điểm mà hàm giả tháo lắp gặp phải (lỏng léo, vướng víu)
                                                    <br/>
                                                    Chức năng ăn nhai tốt như răng thật
                                                    <br/>
                                                    Gần giống như răng thật về thẩm mỹ lẩn chức năng
                                                   </p>
                                               </div>
                                           </li>
                                           <li  class="service-item2">
                                                <div class="item3-heading">
                                                    <legend>các dịch vụ khác</legend>
                                                </div>
                                                <div class="item-img">
                                                     <ul class="item-img-ul">
                                                         <li>
                                                            <img  src="/components/public/img/images/Nha-khoa_06a.jpg"/>
                                                            <br></br>
                                                            <span>chỉnh nha</span>
                                                         </li>
                                                         <li>
                                                            <img  src="/components/public/img/images/Nha-khoa_22b.jpg"/>
                                                            <br></br>
                                                            <span>niềng răng trong suốt</span>
                                                         </li>
                                                         <li>
                                                            <img  src="/components/public/img/images/Nha-khoa_29b.jpg"/>
                                                            <br></br>
                                                            <span>trắng răng</span>
                                                         </li>
                                                         <li>
                                                            <img  src="/components/public/img/images/Nha-khoa_26b.jpg"/>
                                                            <br></br>
                                                            <span>implant</span>
                                                         </li>
                                                     </ul>
                                                </div>
                                           </li>
                                      </ul>
                                 </div>
                             </div>
                           </div>
                        </div>
                  </div>
                  <div include-html="/components/layouts/footer.html" id="footer_file"></div>
        </div>
    </div>
</div>
<script src="/components/public/js/jquery-3.6.0.min.js"></script>
<script src="/components/public/js/include-html.min.js"></script>
