<div class="footer">
    <div class="inner-footer">
        <legend>liên hệ với <span>chúng tôi</span></legend>
        <ul class="infor-section">
            <li>Địa chỉ
                <br />
                <span>A8 ngõ 217,la thành,đống đa, hà nội</span>
            </li>
            <li>thời gian làm việc
                <br/>
            <span>8h00 đến 18h00 từ thứ 2 đến thứ 7</span>
            </li>
            <li>điện thoại
                <br/>
            <span>tell:09323423434-mobile:342535345-hotline:32423545634</span>
            </li>
            <li>email
                <br/>
            <span>nhakhoarose@gmail.com</span>
            </li>
            <li>website
                <br/>
            <span>nhakhoarose.com</span>
            </li>
            <li class="book-appointment">
                Đặt lịch hẹn
                <br/>
                <span>nha khoa rose sẽ liên hệ với quý khách hàng trong thời gian sớm nhất</span>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="copyright">
        <em>© 2022. Bản quyền thuộc về Nha Khoa Rose.</em>
    </div>
</div>