<div class="left-list-container">
    <ul class="list-1">
      <legend class="special-heading">dich vụ nha khoa</legend>
      <li>chỉnh hình
        <hr></hr>
      </li>
      <li>chỉnh nha
      <hr></hr>
      </li>
      <li>niềng rằng trong suốt
      <hr></hr>
      </li>
      <li>răng sứ thẩm mỹ
      <hr></hr>
      </li>
      <li>implant
      <hr></hr>
      </li>
      <li>trắng răng
      </li>
    </ul>
    <legend class="list2 legend">bài viết xem nhiều</legend>
    <ul class="list-2">
       <li>
          <div class="left-img"><img src="/img/images/Nha-khoa_26.jpg"/></div>
          <div class="right-text">
              <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
          </div>
       </li>
       <li>
       <div class="left-img"><img src="/img/images/Nha-khoa_22b.jpg"/></div>
          <div class="right-text">
              <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
          </div>
       </li>
       <li>
       <div class="left-img"><img src="/img/images/Nha-khoa_06a.jpg"/></div>
          <div class="right-text">
              <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
       </div>
       </li>
       <li><div class="left-img"><img src="/img/images/Nha-khoa_10a.jpg"/></div>
          <div class="right-text">
              <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
          </div></li>
    </ul>
    <legend class="list3 legend">tin mới nhất</legend>
    <ul class="list-3">
       <li><div class="left-img"><img src="/img/images/Nha-khoa_26.jpg"/></div>
          <div class="right-text">
              <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
          </div></li>
       <li><div class="left-img"><img src="/img/images/Nha-khoa_22b.jpg"/></div>
          <div class="right-text">
              <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
          </div></li>
       <li><div class="left-img"><img src="/img/images/Nha-khoa_06a.jpg"/></div>
          <div class="right-text">
              <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
          </div></li>
       <li><div class="left-img"><img src="/img/images/Nha-khoa_10a.jpg"/></div>
          <div class="right-text">
              <p>Quy trình bọc răng sứ đưuọc thực hiện như thế nào?</p>
          </div></li>
    </ul>
 </div>